@font-face {
    font-family: EchoDeco;
    src: url("../sites/EchoDeco.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
  background: url("https://ipfs.infura.io/ipfs/Qmd42ASCijzkTREMvN8hrNbvFBf6zHKHzGZFN8WXjAbnWQ/asset.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo.p {
   font-family: EchoDeco;
   font-size: 5vw;
   margin: 100px;
   color: white;   
}
