@font-face {
    font-family: F16;
    src: url("../EchoDeco.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
  background: url("https://ipfs.infura.io/ipfs/Qmamvq8cqnvDvLqrhcqFmGuTfhY4nBcz7J8zrAdWWgAN6e") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo.p {
   font-size: 6vw;
   margin: 100px;
   color: white;   
}
